---
import Layout from '../layouts/Layout.astro';
---

<Layout title="blog-page"> 

    <h2> This is some information about this page!</h2> 
    <p> This could be a blog, though I'm not sure what I would personally even write about :(</p>

</Layout>