<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title> Welcome to my site!</title>
	</head>
	<body>
		<h1> WELCOME TO MY SITE</h1>
		<nav> 
			<a href="link1"> Link 1</a>
			<a href="link2"> Link 2 </a>
			<a href="link3"> Link 3</a>
		</nav>
		<h2> Some more stuff here!</h2>
		<slot />
		<footer> 
			<address> 
				<ul> 
					<li> Stuff</li>
					<li> Stuff</li>
					<li> Stuff </li>
				</ul>
			</address>
		</footer>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
